.openFormButton {
  width: fit-content;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: var(--color-default);
  background-color: white;
  border: none;
  padding-block: var(--size-500);
  font-size: var(--fs-600);
}
